{% extends "base.html" %}
{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
    {% comment %} <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Register</button>
    </form> {% endcomment %}
	<main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Login</h1>
			<div class="row">
				<div class="col-md-6 offset-3">
					{% for message in messages  %}
					<div class="alert alert-{{message.tags}} alert-dismissible fade show " role="alert">
						<strong></strong>{{message}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
					</div>
					{% endfor %}
					<form method= "post" >
						{% csrf_token %}
						{% comment %} <table class="table table-bordered">
							{{form.as_table}}
							<tr>
							  <td colspan="2">
								<input type="submit" class="btn btn-primary">
							  </td>
							</tr>
						</table> {% endcomment %}
						{{ form|crispy }}
       			        <button type="submit">Register</button>
					</form>
				</div>
			</div>
		</section>
		<!-- End -->
	</main>


{% endblock body %}