{% extends "base.html" %}
{% block title %}
  Services
{% endblock title %}
{% block body %}

  <div class="container mt-2">

    <center><h1>Walker Services.</h1></center>
    <div class="row">
      {% for p in services %}
      <div class="col-md-4">

        <div class="card">
          <img src="{{p.img.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
            <p class="card-text">{{p.details}}</p>
            <p class="card-text"><small class="text-muted">Last updated </small></p>
           
            <a href="{% url 'gallery_detail' p.id %}" class="btn btn-primary">Book a {{p.title}} session</a>
          </div>
        </div>
      </div>
      {% endfor %}
    

    </div>
    <br><br>

   
  
  
 
{% endblock body %}